/* common css start  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1320px;
    margin: auto;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    display: inline-block;
}
li{
    list-style: none;
}
/* common css end  */
/* page start  */
#page{
    width: 100%;
    position: relative;
    background-color: #1D1B1B;
    z-index: 1;
}
#page::before{
    content: '';
    width: 100%;
    height: calc(100vh + 65px);
    background-color: #3A3934;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    clip-path: polygon(100% 0%,0% 0%,0% 100%,100% 62%);
    z-index: -99999999;

}
/* banner start  */
#navbar{
    padding-top: 65px;

}
#navbar .main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#navbar .main .item img{
    max-width: 125px;
}
#navbar .main .item button{
    border: none;
    outline: none;
    background-color: #ff451b;
    padding: 16px 48px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;
}
#navbar .main .item button:hover{
    background-color: #FFB324;
}
/* navbar start  */
#main_banner .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#main_banner .main .item{
    width: 50%;
}
#main_banner .main .left h4{
    font-size: 30px;
    color: #ff451b;
    padding: 5px 0px;
    text-transform: capitalize;
}
#main_banner .main .left h3{
    font-size: 100px;
    color: #fff;
    line-height: 1;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 27px;
}
#main_banner .main .left p{
    font-size: 22px;
    color: #a7afbd;
    font-weight: 400;
    line-height: 1.5;
}
#main_banner .main .left .contact{
    margin: 45px 0px;
}
#main_banner .main .left .contact a{
    margin: 0px 5px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}
#main_banner .main .left .contact a:nth-child(1){
    background-color: #3B5998;
}
#main_banner .main .left .contact a:nth-child(2){
    background-color: #26A6D1;
}
#main_banner .main .left .contact a:nth-child(3){
    background-color: #007AB9;
}
#main_banner .main .left .contact a:nth-child(4){
    background-color: #CC202D;
}
#main_banner .main .left .contact i{
    font-size: 30px;
    color: #fff;
    line-height: 60px;

}
#main_banner .main .right{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 40px;
    position: relative;
    transition: 1s;
}
#main_banner .main .right::before{
    content: '';
    height: 150px;
    width: 105px;
    background-color: #FFB324;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation: animateBefore 8s linear infinite;  
}
#main_banner .main .right::after{
    content: '';
    height: 364px;
    width: 165px;
    background-color: #FFB324;
    position: absolute;
    top: 0;
    z-index: -1;
    animation: animateAfter 8s linear infinite;
}
@keyframes animateBefore {
    0%{
        left: 120px;
    }50%{
        left: 220px;
    }100%{
        left: 120px;
    }
}
@keyframes animateAfter {
    0%{
        right: -10px;
    }50%{
        right: 50px;
    }100%{
        right: -10px;
    }
}
#main_banner .main .right .profile{
    height:430px;
    width: 430px;
    position: relative;
}
#main_banner .main .right .profile img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#main_banner .main .right .profile::before{
    content: '';
    height: 130px;
    width: 130px;
    background-color: #ff451b;
    position: absolute;
    top: 0;
    left: -15px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#main_banner{
    position: relative;
}
#main_banner .animation{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -999;
}
#main_banner .animation span{
    display: inline-block;
    position: absolute;
}
#main_banner .animation span:nth-child(1) {
    left: 30px;
    top: 100px;
}
#main_banner .animation span:nth-child(2) {
    right: 100px;
    top: 100px;
}
#main_banner .animation span:nth-child(3){
    left: 30px;
    top: 600px;
}
#main_banner .animation span:nth-child(4){
    right: 100px;
    top: 400px;
}
#main_banner .animation span:nth-child(5){
    left: 30%;
    top: 150px;
}
#main_banner .animation span:nth-child(6){
    left: 50%;
    top: 250px;
}
#main_banner .animation span:nth-child(7){
    left: 50px;
    top: 200px;
}
#main_banner .animation span:nth-child(8){
    left: 45%;
    top: 170px;
}
#main_banner .animation span:nth-child(9){
    left: 95%;
    top: 280px;
}
#main_banner .animation span:nth-child(10) {
    left: 35%;
    top: 340px;
}
#main_banner .animation span:nth-child(11) {
    left: 15%;
    top: 350px;
}
#main_banner .animation span:nth-child(12){
    left: 240px;
}
#main_banner .animation span:nth-child(13) {
    left: 52%;
    top: 30px;
}
#main_banner .animation span:nth-child(14) {
    left: 50%;
    top: 380px;
}
#main_banner .animation .cross{
    height: 20px;
    width: 20px;
    background-color: #ff451b;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    animation: animateCross 6s infinite linear;
}
#main_banner .animation .fillCircle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #753D2C;
}
#main_banner .animation .bordercircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid #ff451bbe;
}
#main_banner .animation .smallcircle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #753D2C;
}

#main_banner .animation .bigcircle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #756442;
}

#main_banner .animation .bigcircletwo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #756442;
}
#main_banner .animation .animationSpan{
    position: relative;
}

#main_banner .animation .circle{
    animation: circlenimate 8s linear infinite;
}
@keyframes animateCross {
    
    100%{
        transform: rotate(360deg);
    }
}
@keyframes circlenimate {
    0%{
        transform: scale(.6);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(.6);
    }
}
/* navbar end  */
/* banner end */

/* main section start  */
#main .headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#main .headline:hover .one{
    background-color: #FFB324;
}
#main .headline:hover .two{
    background-color: #ff441a;
}
#main .headline:hover .three{
    background-color: #494B50;
}
#main .item{
    margin: 25px 0px;
    transition: .4s;
}
#main .headline .one{
    width: 10%;
    border-radius: 10px;
    background-color: #ff441a;
    transition: .4s;
}
#main .headline .two{
    width: 79%;
    border-radius: 10px;
    background-color: #494B50;
    transition: .4s;
}
#main .headline .three{
    width: 10%;
    border-radius: 10px;
    background-color: #FFB324;
    color: #fff;
    transition: .4s;
}
#main .headline .one i {
    display: block;
    text-align: center;
    line-height: 135px;
    font-size: 40px;
    color: #fff;
    transition: .4s;
}
#main .headline .three i {
    display: block;
    text-align: center;
    line-height: 135px;
    font-size: 30px;
    color: #fff;
    transition: .4s;
}
#main .headline:hover .three i{
    color:#a7afbd;
}
#main .headline h3 {
    display: block;
    line-height: 135px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 0px 50px;
}
#main .details{
    width: 100%;
    background-color: #494B50;
    margin-top: 25px;
    border-radius: 10px;
    padding: 70px;
}
#main .about .details{
    display: flex;
    justify-content: space-between;
}
#main .about .details .right{
    width: 47%;
}
#main .about .details .right h6{
    font-size: 21px;
    color: #ff451b;
    font-weight: 700;
    margin-bottom: 6px;
}
#main .about .details .right h3{
    font-size: 47px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
#main .about .details .right h4{
    padding: 25px 0px;
    width: 80%;
    color: #d3d7df;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.6;
}
#main .about .details .right p{
    margin-bottom: 38px;
    color: #d3d7df;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}
#main .about .details .right button{
    border: none;
    outline: none;
    background-color: #ff451b;
    padding: 16px 48px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;
}
#main .about .details .right button:hover{
    background-color: #FFB324;
}
#main .about .details .left{
    position: relative;
    width: 47%;
    padding-bottom: 100px;
    overflow: hidden;
}
#main .about .details .left img{
    border-radius: 15px;
}
#main .about .details .left .detail{
    display: inline-block;
    min-width: 47%;
    margin-top: 55px;
    background-color: #ff451b;
    padding: 35px 20px;
    z-index: 1;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#main .about .details .left ul{
    border-bottom: 1px dashed #ffffff80;
    padding: 13px 0;
}
#main .about .details .left ul:last-child{
    border-bottom: none;
}
#main .about .details .left li:nth-child(odd){
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2px;
    opacity: .85;
}
#main .about .details .left li:nth-child(even){
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 3px 0;
}
#main .details .title{
    padding-bottom: 100px;
    position: relative;
}
#main .details .title::after{
    content: '';
    background-color: #ff451b;
    height: 35%;
    width: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}
#main .details .title::before{
    content: '';
    background-color: #fff;
    height: 70%;
    width: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}
#main .details .title h4{
    font-size: 21px;
    color: #ff451b;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 6px;
}
#main .details .title h3{
    font-size: 47px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    width: 45%;
}
#main  .resume .details .detail{
    display: flex;
    justify-content: space-between;
}
#main  .resume .details .left{
    width: 47%;
}
#main  .resume .details .right{
    width: 47%;
}
#main  .resume .details .detail h3{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
#main  .resume .details .detail h3 span{
    margin-right: 12px;
    display: inline-block;
    height: 27px;
    width: 27px;
    border: 3px solid #ff451b;
    border-radius: 50%;
    position: relative;
}
#main  .resume .details .detail h3 span::after{
    content: '';
    background-color: #ff451b;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#main  .resume .details .detail h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #fff;
}
#main  .resume .details .detail h5{
    font-size: 20px;
    color: #d3d7df;
    font-weight: 500;
}
#main  .resume .details .detail p{
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    color: #a7afbd;
    line-height: 1.5;
    margin-bottom: 50px;
}
#main  .resume .details .detail button{
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 700;
    color: #ff451b;
    outline: none;
    background-color: transparent;
    padding: 10px 35px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
}
#main  .resume .details .detail .one{
    position: relative;
}
#main  .resume .details .detail .two{
    position: relative;
}
#main  .resume .details .detail .three{
    position: relative;
}
#main  .resume .details .detail .right h6{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 12px;
}
#main  .portfolio .detail ul{
    display: flex;
    justify-content: center;
}
#main  .portfolio .detail li{
    margin: 0 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    transition: .4s;
    cursor: pointer;
}
#main  .portfolio .detail li:hover{
    color: #ff451b;
}
#main  .portfolio .detail .active{   
    color: #ff451b;
}
#main  .portfolio .detail .img{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#main  .portfolio .detail .img .item{
    width: 32%;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    transition: .4s;

}
#main  .portfolio .detail .img .item img{
    width: 100%;
    display: block;
    border-radius: 20px;
    height: 375px;
}
#main  .portfolio .detail .img .item .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 69, 27,.65);
    position: absolute;
    top: -380px;
    bottom: 0;
    left: 0;
    transition: .4s;
}
#main  .portfolio .detail .img .item:hover .overlay{
    top: 0;
}
#main  .portfolio .detail .img .item .overlay a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: #fff;
}
#main  .portfolio .detail .img .item .overlay a i{
    display: block;
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}
#main  .portfolio .detail .img .item .overlay a p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
#main  .portfolio .detail .img .item .overlay a h4{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
#main  .service .detail .main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main  .service .detail .main .item{
    width: 32%;
    margin-bottom: 0;
    background-color: #5C5D64;
    border-radius: 20px;
    overflow: hidden;
}
#main  .service .detail .main .item a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 80px 40px;
}
#main  .service .detail .main .item .icon{
    padding: 30px 0;
    width: 110px;
    background-color: #FFB324;
    margin: auto;
    border-radius: 50%;
}
#main  .service .detail .main .item i{
    font-size: 50px;
    display: block;
    text-align: center;
    color: #fff;
}
#main  .service .detail .main .item h4{
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin: 25px 0;
}
#main  .service .detail .main .item p{
    font-size: 18px;
    text-align: center;
    color: #9BAFBD;
    font-weight: 400;
}
/* testimonial start  */
#main .testimonial details .my_slider{
    justify-content: space-between !important;
}
.slider_item .item{
    width: 95%;
    background-color: #5B5C64;
    border-radius: 20px;
    padding: 50px;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.slick-dots li{
    margin: 0 5px;
}
.slick-dots button{
    border: none;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    font-size: 0;
    background-color: #ff451b;
}
.slick-active button{
    position: relative;
}
.slick-active button::after{
    content: '';
    border: 2px solid #FFB324;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -4px;
    height: 15px;
    width: 15px;
}
#main .testimonial .details p{
    margin-bottom: 28px;
    font-size: 22px;
    color: #A7AFBD;
    font-weight: 400;
    line-height: 1.5;
}
#main .testimonial .details .profile{
    display: flex;
    justify-content: space-between;
}
#main .testimonial .details .profile {
    display: flex;
    justify-content: space-between;
}
#main .testimonial .details .profile .img {
    width: 60px;
    height: 60px;
}
#main .testimonial .details .profile .left{
    display: flex;
    align-items: center;
}
#main .testimonial .details .profile .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#main .testimonial .details .profile .data{
    margin-left: 15px;
}
#main .testimonial .details .profile .data h4{
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#main .testimonial .details .profile .data p{
    font-size: 16px;
    color: #aaa;
    font-weight: 400;
}
#main .testimonial .details .right{
    display: flex;
    align-items: center;
}
#main .testimonial .details .right i{
    font-size: 100px;
    color: #FFB324;
    opacity: 0.8;
}
/* testimonial end */
#main  .blog .detail{
    display: flex;
    justify-content: space-between;
}
#main  .blog .detail .item{
    width: 32%;
    background-color: #5C5D64;
    border-radius: 20px;
    overflow: hidden;
    margin: 0;
}
#main  .blog .detail .item .img{
    overflow: hidden;
}
#main  .blog .detail .item img{
    width: 100%;
    /* border-radius: 20px; */
    transition: .4s;
    display: block;
}
#main  .blog .detail .item img:hover{
    transform: scale(1.3);
}
#main  .blog .detail .item .news{
    padding: 30px;
}
#main  .blog .detail .item a{
    text-decoration: none;
}
#main  .blog .detail .item p{
    color: #ff451b;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
    transition: .4s;
}
#main  .blog .detail .item p:hover{
    color: #fff;
}
#main  .blog .detail .item h4{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    transition: .4s;
}
#main  .blog .detail .item h4:hover{
    color: #ff451b;
}
#main  .contact .detail{
    display: flex;
    justify-content: space-between;
}
#main  .contact .detail .item_one{
    width: 35%;
}
#main  .contact .detail .info{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#main  .contact .detail .info .icon{
    width: 20%;
    background-color: #FFB324;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 23px 0;
}
#main  .contact .detail .info .det{
    width: 75%;
}
#main  .contact .detail .info i{
    font-size: 35px;
    color: #fff;
}
#main  .contact .detail .info h4{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
}
#main  .contact .detail .info p{
    font-size: 18px;
    color: #A7AFBD;
    font-weight: 400;
    margin-bottom: 10px;
}
#main  .contact .detail .item_two{
    width: 65%;
}
#main  .contact .detail .item_two{
    display: flex;
    justify-content: space-between;
}
#main  .contact .detail .item_two form input{
    width: 46%;
    padding: 20px 18px;
    border-radius: 10px;
    margin: 15px 0;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #A7AFBD;
    background-color: transparent;
    color: #A7AFBD;
    outline: 1px solid transparent;
    margin-right: 20px;
}
#main  .contact .detail .item_two form input::placeholder{
    color: #A7AFBD;
    font-size: 14px;
    font-weight: 400;
}
#main  .contact .detail .item_two form input:focus{
    outline: 1px solid #d3d7df;
    border: 1px solid transparent;
}
#main  .contact .detail .item_two form textarea::placeholder{
    color: #A7AFBD;
    font-size: 14px;
    font-weight: 400;
}
#main  .contact .detail .item_two form textarea{
    width: 96%;
    padding: 20px 18px;
    border-radius: 10px;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #A7AFBD;
    background-color: transparent;
    color: #A7AFBD;
    outline: 1px solid transparent;
    font-family:'Montserrat', sans-serif;
}
#main  .contact .detail .item_two form button{
    border: none;
    outline: none;
    background-color: #ff451b;
    padding: 16px 48px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;
}
#main  .contact .detail .item_two form button:hover{
    background-color: #FFB324;
}
/* main section end  */

#footer{
    padding: 80px 0px;
}
#footer .main{
    display: flex;
    justify-content: space-between;
}
#footer .main a{
    text-decoration: none;
    color: #A7AFBD;
    font-size: 18px;
    font-weight: 500;
    transition: .4s;
}
#footer .main a:hover{
    color: #ff451b;
}
#footer .main p{
    color: #9299A5;
    font-size: 18px;
    font-weight: 500;
}
#footer .main p a{
    font-weight: 700;
    font-size: 20px;
}
#footer .main ul{
    display: flex;
}
#footer .main ul li{
    margin: 0 20px;
}
/* page end  */
